@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;

}
nav img{
    width:50px;
    height:50px;
}
ul li{
    list-style-type: none;
    padding:0px 8px;
}
.items-center{
    align-items: center;
}

.containerheader{
    margin:16px 12px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    position:sticky;
    top:0px;
    background-color: white;
    
}
nav{
    padding:10px 0px;
    margin:1px 12px;
    

}
/* .search{
    width:20vw;
    padding:0px 10px 0px;
    margin:10px 10px;
     border-radius: 5px;
    border:none;
    background: #f7f8fd;
}*/
/* input :hover{
    border: 1px solid rgb(233, 8, 8);
}  */
.search {
    width: 25vw;
    padding: 7px 14px;
    margin:10px 10px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}
.section1{
    height:110vh;
    background-color: rgb(241, 239, 239);
    
}
.container1{
    
        padding:0px 10vw ; /* top bottom is first */
        margin:auto;
        
    
}
section img {
    width: 80vw;
    padding: 15px 0px;
}
.itemImg{
    width:10vw;
    padding:0px 10px;
    border-radius: 5px;
}
.container12{
    
    padding:25px 10vw ; /* top bottom is first */
    margin:auto;
    background-color: rgb(241, 239, 239);
    

}
.big li{
    font-family: 'Roboto', sans-serif;
 
}
.shopping{
    display:flex;
    margin:2px 140px ;
}
.shopping ul{
    flex-direction: column;
    display: flex;
    list-style: none;
    color:grey;
    gap:5px;
}
.shopping h6{
    color: black;

}
.register{
    display:flex;
    align-items: center;
    justify-content: center;
    color:grey;
    padding:20px 0px 20px;

}
